<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body {
      display: flex;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    a {
      text-decoration: none;
      color: inherit;
      cursor: default;
    }
    div {
      padding: 5px;
    }
    div div {
      border: 1px solid;
      padding: 10px;
      height: 5vh;
      text-align: center;
      line-height: 5vh;
    }

    img {
      width: 10vw;
      border: 1px solid;
      padding: 10px;
    }
  </style>
  <body>
    <div>
      <div><a href="/cal">구구단 실습 확인하기</a></div>
      <div><a href="/larvar">애벌레 실습 확인하기</a></div>
    </div>
    <br />
    <a href="/fruit"><img src="../image/peach.png" /></a>
  </body>
</html>
